**Install PySpark**

In [8]:
!pip install pyspark

**Start a SparkSession**

In [11]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise_1').getOrCreate()
spark

**Read a dataset, pyspark has options to csv, txt, json and many more**

In [27]:
df_spark = spark.read.csv('/content/drive/MyDrive/Colab Notebooks/PySpark/PySpark_data.csv', header = True, inferSchema = True)

**DataFrame Info**

In [28]:
df_spark.printSchema()

root
 |-- User_ID: integer (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Occupation: integer (nullable = true)
 |-- City_Category: string (nullable = true)
 |-- Stay_In_Current_City_Years: string (nullable = true)
 |-- Marital_Status: integer (nullable = true)
 |-- Product_Category_1: integer (nullable = true)
 |-- Product_Category_2: double (nullable = true)
 |-- Product_Category_3: double (nullable = true)
 |-- Purchase: integer (nullable = true)

**Print top 20 data .show() helps with it**

In [30]:
print(df_spark.show())
print(df_spark.columns)

+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F| 0-17|        10|            A|                         2|             0|                 3|              null|              null|    8370|
|1000001| P00248942|     F| 0-17|        10|            A|                         2|             0|                 1|               6.0|              14.0|   15200|
|1000001| P00087842|     F| 0-17|        10|            A|                         2|             0|                12|              null|              null|    1422|
|1000001| P00085442|     F| 0-17|        10|            A|                         2|             0|                12|              14.0|              null|    1057|
|1000002| P00285442|     M|  55+|        16|            C|                        4+|             0|                 8|              null|              null|    7969|
|1000003| P00193542|     M|26-35|        15|            A|                         3|             0|                 1|               2.0|              null|   15227|
|1000004| P00184942|     M|46-50|         7|            B|                         2|             1|                 1|               8.0|              17.0|   19215|
|1000004| P00346142|     M|46-50|         7|            B|                         2|             1|                 1|              15.0|              null|   15854|
|1000004|  P0097242|     M|46-50|         7|            B|                         2|             1|                 1|              16.0|              null|   15686|
|1000005| P00274942|     M|26-35|        20|            A|                         1|             1|                 8|              null|              null|    7871|
|1000005| P00251242|     M|26-35|        20|            A|                         1|             1|                 5|              11.0|              null|    5254|
|1000005| P00014542|     M|26-35|        20|            A|                         1|             1|                 8|              null|              null|    3957|
|1000005| P00031342|     M|26-35|        20|            A|                         1|             1|                 8|              null|              null|    6073|
|1000005| P00145042|     M|26-35|        20|            A|                         1|             1|                 1|               2.0|               5.0|   15665|
|1000006| P00231342|     F|51-55|         9|            A|                         1|             0|                 5|               8.0|              14.0|    5378|
|1000006| P00190242|     F|51-55|         9|            A|                         1|             0|                 4|               5.0|              null|    2079|
|1000006|  P0096642|     F|51-55|         9|            A|                         1|             0|                 2|               3.0|               4.0|   13055|
|1000006| P00058442|     F|51-55|         9|            A|                         1|             0|                 5|              14.0|              null|    8851|
|1000007| P00036842|     M|36-45|         1|            B|                         1|             1|                 1|              14.0|              16.0|   11788|
|1000008| P00249542|     M|26-35|        12|            C|                        4+|             1|                 1|               5.0|              15.0|   19614|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 20 rows

None
['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category', 'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1', 'Product_Category_2', 'Product_Category_3', 'Purchase']

**Select columns from a dataframe**

In [32]:
df_spark.select(['User_ID','Product_ID']).show()

+-------+----------+
|User_ID|Product_ID|
+-------+----------+
|1000001| P00069042|
|1000001| P00248942|
|1000001| P00087842|
|1000001| P00085442|
|1000002| P00285442|
|1000003| P00193542|
|1000004| P00184942|
|1000004| P00346142|
|1000004|  P0097242|
|1000005| P00274942|
|1000005| P00251242|
|1000005| P00014542|
|1000005| P00031342|
|1000005| P00145042|
|1000006| P00231342|
|1000006| P00190242|
|1000006|  P0096642|
|1000006| P00058442|
|1000007| P00036842|
|1000008| P00249542|
+-------+----------+
only showing top 20 rows

**Data Types**

In [34]:
print(df_spark.dtypes)
print(df_spark.describe().show())

[('User_ID', 'int'), ('Product_ID', 'string'), ('Gender', 'string'), ('Age', 'string'), ('Occupation', 'int'), ('City_Category', 'string'), ('Stay_In_Current_City_Years', 'string'), ('Marital_Status', 'int'), ('Product_Category_1', 'int'), ('Product_Category_2', 'double'), ('Product_Category_3', 'double'), ('Purchase', 'int')]
+-------+------------------+----------+------+------+-----------------+-------------+--------------------------+-------------------+------------------+------------------+------------------+-----------------+
|summary|           User_ID|Product_ID|Gender|   Age|       Occupation|City_Category|Stay_In_Current_City_Years|     Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|         Purchase|
+-------+------------------+----------+------+------+-----------------+-------------+--------------------------+-------------------+------------------+------------------+------------------+-----------------+
|  count|            550068|    550068|550068|550068|           550068|       550068|                    550068|             550068|            550068|            376430|            166821|           550068|
|   mean|1003028.8424013031|      null|  null|  null|8.076706879876669|         null|         1.468494139793958|0.40965298835780306| 5.404270017525106| 9.842329251122386|12.668243206790512|9263.968712959126|
| stddev| 1727.591585530636|      null|  null|  null|6.522660487341751|         null|        0.9890866807573153|0.49177012631732797|3.9362113692013727| 5.086589648693497| 4.125337631575269|5023.065393820567|
|    min|           1000001| P00000142|     F|  0-17|                0|            A|                         0|                  0|                 1|               2.0|               3.0|               12|
|    max|           1006040|  P0099942|     M|   55+|               20|            C|                        4+|                  1|                20|              18.0|              18.0|            23961|
+-------+------------------+----------+------+------+-----------------+-------------+--------------------------+-------------------+------------------+------------------+------------------+-----------------+

None

**Adding Columns in python dataframe**: 
df_spark.withColumn('column name', formula for new column)   **NOT AN INPLACE OPERATION**

**Drop Columns from python dataframe**: df_spark.drop(['column names']) **NOT AN INPLACE OPERATION**

**Rename Columns :** df_spark.withColumns.Renamed('Actual Name', 'New Name') **NOT AN INPLACE OPERATION**